@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Offside&family=Pixelify+Sans:wght@400..700&display=swap');
@import "tailwindcss";

html {
    scroll-behavior: smooth;
}

body {
    font-family: "IBM Plex Sans",sans-serif;
    background: #0F172A;
    color: #F8FAFC;
}

.font-hero {
    font-family: "Pixelify Sans", sans-serif;
}

.font-heading {
    font-family: "Offside", sans-serif;
}

.font-body {
    font-family: "IBM Plex Sans", sans-serif;
}

#blazor-error-ui {
    display:none;
}

.left-arrow {

}

.portfolio-loader {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0f172a; /* same as your website */
    transition: opacity .4s ease;
}

.portfolio-loader.fade-out {
    opacity: 0;
}

.loader-box {
    color: #d1d5db;
    font-family: "IBM Plex Mono", monospace;
    font-size: 15px;
    line-height: 1.7;
    white-space: pre;
    animation: fadeIn .4s ease;
}

.step,
.tip {
    opacity: 0;
    animation: appear .1s forwards;
}

.delay1 {
    animation-delay: 1s;
}

/* Let "Preparing Hero..." stay on screen for a while */
.delay2 {
    animation-delay: 2.3s;
}

.delay3 {
    animation-delay: 2.7s;
}

.delay4 {
    animation-delay: 3.1s;
}

.delay5 {
    animation-delay: 3.5s;
}

.delay6 {
    animation-delay: 3.9s;
}

.delay7 {
    animation-delay: 4.6s;
}

.cursor {
    animation: blink 1s infinite;
}

.spinner::after {
    content: "|";
    animation: spinner 1s steps(4) infinite;
}

@keyframes spinner {
    0% {
        content: "|";
    }

    25% {
        content: "/";
    }

    50% {
        content: "—";
    }

    75% {
        content: "\\";
    }

    100% {
        content: "|";
    }
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

@keyframes appear {
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}